*{
    font-weight:regular;
    font-family: 'Rubik', sans-serif;
}
@media only screen and (max-width:1000px){
    body{
        background-color:#8371F3 !important;
    }
    nav{
        background-color:#6952F6 !important;
    }
    .blackfontColorChange{
        color:#fff !important;
    }
}

.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.btn{
    box-shadow:2px 2px 2px #000 !important;
}
.btnForm{
    width:100%;
}
.titleFont{
    font-weight:bold;
    font-family: 'Rubik', sans-serif;
}
.menuIcon{
    height:30px;
    width:30px;
}

