.navbar{
    background-color:#8371F3;
}@media only screen and (max-width:1000px){

}
.faviconText{
    color:#fff;
    font-size:55px;
    font-weight:bold;
    text-decoration:none;
}@media only screen and (max-width:1000px){
}